body{
    display:block;
    color: pink
}
label{
    display: block;
    padding:5px;
}
input{
    margin: 10px;
}
.level{
    /* display: flex; */
}
.skill{
    /* display: flex; */
}
.stats{
    background-color: rgba(255, 228, 196, 0.7);
}